.BgContain{
   display: none;
}

.BgContainText{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: aliceblue;
    padding: 30px;
}

.BgContainText h2{
    font-size: 35px;
}
.BgContainText p{
    font-size: 14px;
    color: var(--text-color2);
}

.play-icon{
    cursor: pointer;
}
.scrolledBG{
    background-image: url(../../img/background/promo-video-back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}