
.TestimoniosConatin{

   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-content: center;
}

.card-scroll2 {
    display: none;
  

}

#swiper_container2 {
    height: 60vh;
    width: 70%;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-content: center;
    flex-direction: column;
   
  }
  #swiper_container2 img{
     width: 2rem;
     height: 2rem;
     object-fit: cover;
     border-radius:100%;
     transition: all 0.25s;
}
#SwiperSlide2{
    width: 33rem !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    align-content: center!important;
    transition: all 0.25s;
  }
  #swiper_container2 a{
   text-decoration: none;
   color: var(--blanco);
  }

  @media (max-width: 900px) {
    
 #swiper_container2 {
   
    width: 100%;
 
  }
  #SwiperSlide2{
    width: 22rem !important;
  }

  #swiper_container2 img{
    width: 2rem;
    height: 2rem;
}


.card-scroll2 {

   padding: 0px 10%;
  
}
  }

.scrolled3{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    gap: 2rem;
   padding: 50px 20%;
   text-align: center;
   color: var(--text-color2);
   background-color: var(--blanco);
   box-shadow: 0 3px 40px #1a1e251d;
   border-radius: 7px;
  }