
.HeroContent{
    margin: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 4rem;
    padding: 0px 13%;
    padding-top: 10vh;
    place-content: center;
    z-index: 1;
    /* background-color: aqua; */
    align-items: center;
    color: var(--blanco);

}
.HeroContentText{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.HeroContentText h1{
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    

}



.HeroContentText button{
    width: 10rem;
    padding: 20px;
    background-color: var(--color1);
    border: none;
    color: var(--blanco);
    box-shadow: 0 3px 40px #1a1e251d;
    border-radius: 7px;
    cursor: pointer;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.img img{
        object-fit: cover;
        width: 65%;
}

.scrolledHero{
    display: flex;
}
@media (max-width: 1024px) {
    .HeroContentText h1{
        font-size: 2rem;
      
    
    }

    .img img{
        object-fit: cover;
        width: 100%;
}
}